@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }

:root {
  --background: #0a0a0a;
  --foreground: #ebebeb;
  --accent: #f3c704;
  --faded: #c4c4c4;
}

/*@media (prefers-color-scheme: light) {
  :root {
    --background: #eee;
    --foreground: #171717;
  }
}*/

@layer base {
  @font-face {
    font-family: Airstrip;
    font-weight: 400;
    src: url(/fonts/Airstrip.ttf) format("ttf");
  }
  @font-face {
    font-family: Sofachrome;
    font-weight: 400;
    src: url(/fonts/Sofachrome.otf) format("otf");
  }
  @font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url(/fonts/Ubuntu.ttf) format("ttf");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.wrap {
  height: calc(100dvh - (180px + 30px + 50px));
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

p { font-size: 1em; }

hr {
  margin: 0.5em 0;
  border: 2px solid var(--accent);
}

a { color: var(--accent) }
